<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i> Clients</h2>
  </div>
  <div class="col-md-6">
    <h5
      [ngClass]="totalOwed < 0 ? 'text-danger' : 'text-success'"
      class="text-left text-md-right text-secondary"
    >
      Total Owed: {{ totalOwed | currency: "BRL" }}
    </h5>
  </div>
</div>

<div *ngIf="clients" class="row mb-2">
  <div class="col-12">
    <input
      [(ngModel)]="filterTable"
      type="text"
      class="form-control"
      placeholder="Filter The Clients..."
    />
  </div>
</div>

<div class="row">
  <div class="col-9"></div>
  <div class="col-3">
    <div *ngIf="clients" class="btn-group float-right mb-2" appDropdown>
      <button class="btn btn-danger btn-sm dropdown-toggle" type="button">
        <i class="fa fa-file-pdf-o"></i> Generate PDF
      </button>
      <div class="dropdown-menu">
        <a
          (click)="generatePdfActualPage()"
          class="dropdown-item"
          style="cursor: pointer"
          >Actual Page</a
        >
        <a
          (click)="generatePdfSelected()"
          class="dropdown-item"
          style="cursor: pointer"
          >Selected Items</a
        >
        <a
          (click)="generatePdfAllPages()"
          class="dropdown-item"
          style="cursor: pointer"
          >All Pages</a
        >
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table
    id="tableClients"
    *ngIf="clients; else noClients"
    [@fadeAnimation]
    class="table table-striped"
  >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let client of clients
            | filter: filterTable:'firstName'
            | paginate: { itemsPerPage: 5, currentPage: currentPage };
          let i = index
        "
        (click)="rowSelected(client, i)"
        [class.bg-info]="selectedRows.includes(i)"
      >
        <th [@fadeAnimation] scope="row">
          {{ client.firstName }} {{ client.lastName }}
        </th>
        <td [@fadeAnimation]>{{ client.email }}</td>
        <td>
          <span
            [@fadeAnimation]
            class="badge font-weight-bold"
            [ngClass]="
              client.balance <= 0 ? 'badge badge-danger' : 'badge badge-success'
            "
          >
            {{ client.balance | currency: "BRL" }}
            <i
              [ngClass]="
                client.balance <= 0
                  ? 'fa fa-arrow-circle-down'
                  : 'fa fa-arrow-circle-up'
              "
            ></i>
          </span>
        </td>
        <td>
          <a
            [routerLink]="['/client/', client.id]"
            class="btn btn-secondary btn-sm"
            ><i class="fa fa-arrow-circle-o-right"></i> Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <pagination-controls
        class="my-pagination"
        (pageChange)="currentPage = $event"
        directionLinks="false"
      ></pagination-controls>
    </div>
  </div>
</div>

<ng-template #noClients>
  <hr />
  <!-- <h5>There are no clients....</h5> -->
</ng-template>
