.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #2b2b2b;
}

/* Navbar */
.navbar-top {
  padding-top: 50px;
}
